<% include ../partials/header %>

<h4><%= currentUser %></h4>

  

<div class="container">

    <header class="jumbotron">
        <div class="container">
        <h1>Campgrounds Page!!</h1>
        <p>
            <a href="/campgrounds/new" class="btn btn-primary btn btn-lg">Add campground</a>
            </p>
        </div>
    </header>

     <div class="row" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(camp){ %>
                <div class=" col-sm-6 col-md-3">
                    <div class="thumbnail">
                            <img src="<%= camp.image %>">
                            <div class="caption">
                            <h4 class="card-title text-center"> <%= camp.name %> </h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More info</a>
                        </p>
                    </div>
                </div>
            <% })  %>
        </div>
</div>


<% include ../partials/footer %>